
<% require 'date' %>
<% date = DateTime.parse("2013-06-21 00:00:00") %>

<h3>Fixtures 2013</h3>

<ul class="nav nav-tabs">
  <li>
   	<a href="/fixtures">List</a>
  </li>
  <li>	<a href="/fixtures/calendar">Calendar</a></li>
   	<li class="active"><a href="/fixtures/allpredicts">Predictions</a></li>
</ul><br>

<div class="row-fluid">
  <div class="span3 offset1">

  <h3>Test Predictions</h3>

 	<% if date > Date.today %>
 	  <p> Other user predictions not available to view until 22nd June.
 	  </p>

<% else%>
  <% @fixtures.each do |fixture| %>
    <strong><%= fixture.match.strftime("%a, %d %B") %> in <%= fixture.location %></strong><br>
   
      	<% @predicts = get_predictions_for_fixture(fixture.id) %>
    		<% for predict in @predicts do %>
    		  <table>
    		   <tr>
              <td>
    			      <%= get_user_name_for_prediction(predict.matchpick_id) %>
    			    </td>
    			    <td>
    			      <center><%= predict.homescore %> - <%= predict.awayscore %></center>
    			    </td>
    			</tr>
    			</table>
    			<% end %>
<br><br>    			
	<% end %>
	<% end %>
</div>
</div>
</div>
</div>

