
<% require 'date' %>
<% date = DateTime.parse("2013-06-21 00:00:00") %>

<h3>Fixtures 2013</h3>

<ul class="nav nav-tabs">
  <li class="active">
   	<a href="/fixtures">List</a>
  </li>
  <li>	<a href="/fixtures/calendar">Calendar</a></li>
   <li>	<a href="/fixtures/allpredicts">Predictions</a></li>
</ul><br>

<div class="row-fluid">
  <div class="span6 offset1">

<table class="table">

<% @fixtures.each do |fixture| %>
  <tr>
	<td><%= fixture.match.strftime("%a, %d %B") %><br><%= fixture.location %></td>   
   
   <% if  fixture.match > Date.today %>
     <td><strong><%= fixture.hometeam %></strong>
				<% else %>
        <td><h5 class="muted"><%= fixture.hometeam %>
					<% end %>
 	
    	<% unless fixture.test.nil? %>
		<% if fixture.test == true %>
		<i>(Test)</i><br>
		<% if date < Date.today %>
			<a class="btn btn-mini btn-warning" <%= link_to 'See Predictions', fixture %> </a>
		<% else %>
			<button type="button" class="btn btn-mini" disabled>View Predictions from 22/6/13</button>
	<% end %>
		<% else %>
	<% end %>
		<% end %></td>
	<td><center><%= fixture.score %></center></td>

    <td>
	<% if signed_in? && current_user.admin? %>

	<h6 class="muted"><%= link_to 'S', fixture %> <%= fixture.id %>: <%= link_to 'E', edit_fixture_path(fixture) %> : <%= link_to 'D', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></h6 class="muted"></td>
	<% else %>
	
		<% end %>

	<% end %>
  </tr>
</table>
</div>
</div>

<br />
<% if signed_in? && current_user.admin? %>	
<div class="btn-group btn-group-vertical">
  <button class="btn btn-large"><%= link_to "Add a fixture", new_fixture_path, class: "btn btn-primary" %></button>
  <button class="btn">	<%= form_tag import_fixtures_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import" %>
	<% end %></button>

<% end %>

</div>
</div>

