<p id="notice"><%= notice %></p>

<h3>Match Details</h3>

<div class="row-fluid">
  <div class="span3 offset1">
		<div class="well well-small">

<table>
	<tr>
		<td><b>Location:</b></td>
		<td><%= @fixture.location %></td>
	</tr>
	<tr>
		<td><b>Home team:</b></td>
		<td><%= @fixture.hometeam %></td>
	</tr>

		<td><b>Match date:</b></td>
		<td><%= @fixture.match %></td>
	</tr>
	<tr>
		<td><b>Test ?</b></td>
		<td>	<% if @fixture.test == true %>
			<i class='icon-ok'></i>
			<% else %>
			No
		<% end %></td>
		</tr>
		<tr>
		<td><b>Result: </b></td>
		<td> <%= @fixture.score %></td>
	</tr>
</table>
</div>
</div>

<div class="span6">
		<% @predicts = get_predictions_for_fixture(@fixture.id) %>
		<% if @predicts.any? %>
		<% for predict in @predicts do %>
			
			<table>	
			<tr>
				<td> <%= get_user_name_for_prediction(predict.matchpick_id) %></td>
					<td><center><%= predict.homescore %> : 	<%= predict.awayscore %></center></td>
			</tr>
			</table>
			<% end %><% end %>			
			<br>
<%= link_to 'Back to fixtures', fixtures_path %>
</div>
</div>



