<%= simple_form_for(@predict) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fixture_id %>
    <%= f.input :user_id %>
    <%= f.input :homescore %>
    <%= f.input :awayscore %>
    <%= f.input :matchpick_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
