
<% require 'date' %>
<% date = DateTime.parse("2013-06-21 00:00:00") %>

<h3>Scoreboard</h3>

<ul class="nav nav-tabs">
<li class="active">	<a href="/scoreboards">Score Summary</a>
  <li>
   	<a href="/scoreboards/summary">Scores by Match</a>
  </li>
</ul>
  <br>

<div class="row-fluid">
  <div class="span6 offset1">
  
  <% if date > Date.today %> 
			<p>No scores available until after first test</p><br><br>
			<% else %>
			
			<table>
        <tr>
          <th align='left' >Competitor</th>
          <th><center>Total</center></th>
        </tr>

        <% @users = User.all %>
         <% @users.each do |user| %>

        <tr>
          <td><%= user.name %>	
      	  </td>

          <td><center>
          <%= Scoreboard.where(:user_id => user.id).pluck(:matchscore).sum %>
              <% end %>
              </center></td>


        </tr>
      </table>
      </div></div>
			<% end %>
 

<% if signed_in? && current_user.admin? %>	
<br />
<div class="btn-group btn-group-vertical">
  <button class="btn btn-large"><%= link_to 'New Scoreboard', new_scoreboard_path, class: "btn btn-primary" %></button>
  <button class="btn">	<%= form_tag generate_scoreboards_path do %>
		<%= text_field_tag :fixture_id %>
		<%= submit_tag "Generate" %>

	<% end %></button>
	<% end %>




