<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span6 offset3">

	<%= f.label :name %>
	<%= f.text_field :name %>
	
	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>
	  
	<%= f.label :password_confirmation, "Password Confirmation" %>
	<%= f.password_field :password_confirmation %><br>
	
		<% if current_user.name == "pethl" %>
		<%= f.label :admin %>
		<%= f.check_box :admin %><br>
		<% else %>
		<% end %>

<i> Password/confirmation must be re-entered <br>prior to updating profile info. <i><br><br>
				<div class="actions">
				    <%= f.submit "Update User Profile", class: "btn btn-success"  %>
					</div>
						
<% end %>

