
<% require 'date' %>
<% date = DateTime.parse("2013-06-22 00:00:00") %>
	
<h3>Hello <%= @user.name %></h3><br>

<div class="row">
  <div class="span5 offset1">
	<h4>Lions Test Match Predictions </h4>
	<% if date > Date.today %> 
			<p>	Enter your scores, then take a look around the site.<br>
			You will be able to see other user predictions from 22nd June.
			 </p>
			<% else %>
			See all other user predictions <%= link_to 'here >>', fixtures_allpredicts_path %><br>
			<% end %>
	
	<div class="well well-small">

  <table>	
	<tr>
	<th></th>
	<th>Australia</th>
	<th>Lions</th>
	<th></th>
	</tr>
	
	<% if @user.matchpicks.where(:reason => "Scores").any? %>
		<% for matchpick in @user.matchpicks %>
			
		<% @predicts = Predict.where(:matchpick_id => matchpick.id).order(:id) %>
		
				<% for predict in @predicts do %>
					<% r = predict.fixture_id %>
			<tr>
			<td><center><%= Fixture.find(r).match %><br><strong><%= Fixture.find(r).city %></strong>
			</td> 
			  <% if date > Date.today %> 
			  <td><center><%= best_in_place predict, :homescore, :nil => "Click to enter" %></center></td>
			  <td><center><%= best_in_place predict, :awayscore, :nil => "Click to enter" %></center></td>
        <% else %>
        <td><center><%= predict.homescore %></center></td>
			  <td><center><%= predict.awayscore %></center></td>
        <% end %>
        <td><% if date < Date.today %> 
  					<p>	<center><i class="icon-lock"></i><center> </p>
  					<% else %>
  					<% end %>
  						</td>

        <% end %>
        <% end %>
        <% end %>
					</tr>
					</table>					
		      </div> 
		      
		      	<% if  date > Date.today %>
        			<i>Scores will lock at midnight GMT on 21st June<i>
        				<% else %>
        					<% end %><br></div>
			</div> <br>
			

