<div class="row">
 <div class="span5 offset4">
	<table>
	<tr>
	<td><b>Name</td>
	<td><b><center>Position</td>
	<td><b><center>Select</td>
	</tr>
	</table>
	<% @playerpicks = Playerpick.where(:matchpick_id => params[:id])%>
	<% @playerpicks = @playerpicks.order("id ASC") %>
		<%= form_tag selected_matchpicks_path, method: :put do %>
			<%= hidden_field_tag "matchpick_id", params[:id] %>
		<% for playerpick in @playerpicks do %>
			<table>
			<% d = playerpick.squad_id %>
			<% q = Squad.find(d) %>
			<% if q.group == "Backs" %>
		<tr class="success">
			<td><%= q.name %></td>	
			<td><%= q.position_strg %></td>
			<td><center><% unless playerpick.selected.nil? %>
					<% if playerpick.selected == true %>
					<i class='icon-ok'></i>
					<% else %>
					<center><%= check_box_tag "select_playerpick_ids[]", playerpick.id %></td>
				<% end %><% end %>
			</center></td>
			</tr>
			<% end %>
			</table>
			<% end %><br>
				<%= submit_tag "Save Backs", class: "btn btn-success" %>	
		<% end %>
	</div>
</div>