<h3>Squad</h3>
<div class="row-fluid">
  <div class="span6 offset1">
<% @squad_by_country.each do |country, squads| %>
<table class="table">
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Stats</strong></th>
    <th><strong></strong></th>
  </tr>
<br><tr><h4 class="muted"><%= country %></h4></tr>
<% squads.each do |squad| %>
  <tr>
    <td><h6><%= squad.name %></h6>(<%= squad.position_strg %>)</td>
    <td><center><%= squad.age %>yrs <br><%= squad.weight %>kg <br><%= squad.height %>cms</td>
   
 <td><center><% if signed_in? && current_user.admin? %>	
	<%= link_to 'E', edit_squad_path(squad) %> : 
	<%= link_to 'D', squad, method: :delete, data: { confirm: 'Are you sure?' } %><% else %><% end %></center></td>
  </tr>
<% end %>
</table>
<% end %>
</div></div>
<br />
<br />
<br />
	<% if signed_in? && current_user.admin? %>
<div class="btn-group btn-group-vertical">
  <button class="btn btn-large"><%= link_to "Add squad member", new_squad_path, class: "btn btn-primary" %></button>
  <button class="btn">	<%= form_tag import_squads_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import" %>
	<% end %></button>
	<% end %>

