
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @squad.name %>
</p>

<p>
  <b>Age:</b>
  <%= @squad.age %>
</p>

<p>
  <b>Weight:</b>
  <%= @squad.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @squad.height %>
</p>

<p>
  <b>Country:</b>
  <%= @squad.country %>
</p>

<p>
  <b>Position:</b>
  <%= @squad.position %>
</p>

<p>
  <b>Position strg:</b>
  <%= @squad.position_strg %>
</p>

<p>
  <b>Group:</b>
  <%= @squad.group %>
</p>


<%= link_to 'Edit', edit_squad_path(@squad) %> |
<%= link_to 'Back', squads_path %>
